@media (min-width: 360px) and (max-width: 759px) {
  .app-b {
    position: absolute;
    width: 621px;
    height: 60px;
    left: 580px;
    top: 388px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical
   to box height */

    /* 비활성화색 */
    text-indent: 2em;
    color: balck;
  }
  .name {
    position: absolute;
    width: 295px;
    height: 22px;
    left: 615px;
    top: 636px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* 비활성화색 */

    color: #a5a5a5;
  }
}

@media (min-width: 759px) {
  .app-b {
    position: absolute;
    width: 621px;
    height: 60px;
    left: 580px;
    top: 388px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical
     to box height */

    /* 비활성화색 */
    text-indent: 2em;
    color: black;
  }
  .name {
    position: absolute;
    width: 295px;
    height: 22px;
    left: 615px;
    top: 636px;

    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* 비활성화색 */

    color: #a5a5a5;
  }

  .category {
    justify-content: center;
    width: 145px;
    color: black;
    font-size: 15px;
    position: absolute;
    letter-spacing: 0;
    font-weight: bold;
    height: 23px;
    width: 145px;
    left: 582px;
    top: 469px;
  }
 .Text {
 }
}
