/* @media (min-width: 759px) {
  
  span.engin {
    
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    

  /* }
  .input2 {
    width: 623px;
    height: 62px;
    left:452px;
    top: 900px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-indent: 2em;
  }

  .input3 {
    width: 621px;
    height: 60px;
    left: 580px;
    top: 388px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-indent: 2em;
  }
  .ordinance {
  }
  .input4 {
    width: 621px;
    height: 60px;
    left: 580px;
    top: 388px;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-indent: 2em;
  }
}  */
