div.app-title {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;

  /* 메인색 */

  color: #00afb2;

  height: 72px;
  width: 228px;
  left: 846px;
  top: 282px;
  border-radius: 0px;
}

input.app-b {
  position: absolute;
  width: 621px;
  height: 60px;
  left: 580px;
  top: 388px;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  /* identical
   to box height */

  /* 비활성화색 */
  text-indent: 2em;
  color: balck;
}

span.app-number {
  /* 메인색 */
  position: absolute;
  left: 30.19%;
  right: 52.63%;
  top: -2.1%;
  bottom: 22.08%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* 메인색 */
}
span.app-text02 {
  position: absolute;
  left: 34.57%;
  right: 52.53%;
  top: -2.1%;
  bottom: 22.08%;

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* 비활성화색 */

  color: #a5a5a5;
}

a:visited {
  color: #a5a5a5;
}
a:hover {
  color: #00afb2;
  text-decoration: underline;
}

p {
  position: absolute;
  left: 30.31%;
  right: 50.24%;
  top: 47.59%;
  bottom: 60.54%;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  align-items: center;
}
